.product-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #F4F5F7;
    width: 200px;
}

.product-card img {
    width: 200px;
}

.product-card h3 {
    font-weight: 500;
    padding-top: 8px;
}

.product-card p{
    font-size: 0.9em;
}

.product-card .title {
    padding-left: 10px;
}

.product-card .prices {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.product-card span {
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 10px;
    display: none;
}

.hidden {
    display: none;
}

.risked {
    text-decoration: line-through;
    color:rgb(161, 161, 161);
}