.product {
    padding-bottom: 50px;
}

.single-product-view{
    display: flex;
    gap: 50px;
    padding: 20px 70px;
}

/* Topo */
.single-product .top {
    display: flex;
    width: 99vw;
    height: 100px;
    padding: 0px 150px;
    background-color: #F9F1E7;
    align-items: center;
}

.single-product .top p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.single-product .top p span {
    border-left: 1px solid black;
    padding-left: 10px;
    padding: 15px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 20px;
}

/* Imagens */
.single-product-image {
    width: 550px;
    height: 500px;
    border: black solid 1px;
}

/* Titulo */
.product-info .product-top {
    padding: 20px;
}

.product-info .product-top h3 {
    font-size: 2.8em;
    font-weight: 400;
}

.product-info .product-top p:first-of-type {
    font-size: 1.9em;
    color: #9F9F9F;
}

/* Size e Color */

.product-info #size,
.product-info #color,
.product-info .action-buttons {
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.product-info #size p,
.product-info #color p {
    color: #9F9F9F;
    width: 100%;
}

/* Size */
.product-info #size button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #F9F1E7;
    cursor: pointer;
}

.product-info #size .selected {
    color: white;
    background-color: #B88E2F;
}

/* Color */
.product-info #color button {
    padding: 14px;
    border-radius: 50%;
    border: none;
    background-color: black;
}

.product-info #color button:nth-of-type(1) {
    background-color: #816DFA;
}

.product-info #color button:nth-of-type(2) {
    background-color: black;
}

.product-info #color button:nth-of-type(3) {
    background-color: #B88E2F;
}

/* Action buttons */
.product-info .action-buttons {
    padding: 20px 20px;
    display: flex;
    padding-bottom: 100px;
    border-bottom: 1px solid #00000060;
}

/* Increase/Decrease */
.product-info .action-buttons .increase-decrease {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0000008a;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
}

.action-buttons .increase-decrease p {
    padding: 10px;
    width: 30px;
}

.action-buttons > .increase-decrease > button {
    padding: 15px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.action-buttons > .increase-decrease > button:first-child {
    border-radius: 10px 0px 0px 10px;
}

.action-buttons > .increase-decrease > button:last-child {
    border-radius: 0px 10px 10px 0px;
}

/* buttons */
.action-buttons > button {
    background-color: white;
    border: none;
    border: 1px solid #000000af;
    border-radius: 10px;
    font-size: 1.2em;
    width: 215px;
    height: 64px;
}

/* adicional-info */
.adicional-info dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
    row-gap: 10px;
}

.adicional-info dl * {
    color: #0000008a;
}

.adicional-info dl dt {
    padding-right: 20px;
}

.adicional-info dl dd ul {
    display: flex;
    gap: 5px;
    align-items: center;
}

.adicional-info dl dd ul li img {
    width: 20px;
}

/* description */
.description {
    border-top: 1px solid #00000060;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
    gap: 40px;
}

.description .description-title {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.description .description-title h4 {
    font-size: 1.4em;
    font-weight: 500;
}

.description .description-title h4:last-child {
    color: #00000060;
}

.description p {
    width: 80vw;
    color: #00000060;
}