.header, .header * {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    width: 100%;
    padding: 0px 5vw;
    height: 100px;
}

.header h1 {
    gap: 5px;
}

.header nav ul {
    gap: 75px;
}

.header nav ul li a {
    color: black;
    font-weight: 500;
}

.header ul {
    gap: 50px;
}