.banner-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/banner-shop.png);
    height: 316px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-shop h2 {
    font-size: 2.5em;
    font-weight: 500;
}
