.banner {
    width: 100%;
    height: 500px;
    background-image: url(../assets/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: end;
}

.banner div {
    width: 640px;
    background-color: #FFF3E3;
    border-radius: 10px 10px 0px 0px;
    margin-right: 80px;
    height: 55%;
}

.banner div p {
    margin: 50px 40px;
}

* {
    border: solid 1px red;
}
